
$mobile-width: 425px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  
$res-1200 : 1200px;

@mixin mobile { 
    @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
 } 
}  
@mixin smtablet { 
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {       
    @content;   
 } 
} 

@mixin tablet { 
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
 } 
}  
@mixin desktop {   
    @media (min-width: #{$desktop-width}) {     
    @content;  
 } 
}
@mixin FHD {   
    @media (min-width: #{$res-1200}) {     
    @content;  
 } 
}
// ----------------Responsive-----------------//
