$mobile-width: 480px;
$smTablet-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$res-1200: 1200px;
$pc-1920: 1920px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin smtablet {
    @media (min-width: #{$smTablet-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin FHD {
    @media (min-width: #{$res-1200})  and (max-width :  #{$pc-1920}) {
        @content;
    }
}
@mixin Pc {
    @media (min-width: #{$pc-1920} ) {
        @content;
    }
}
// ----------------Responsive-----------------//
