
$color-secondary:  #c89c21;
$color-secondary-light:#f3d88d;
$color-secondary-dark:#936c00;
$color-blue-light:#9499f7;
$color-blue:#464ee2;
$color-blue-dark:#000ad8;
$color-green-light:#a0f280;
$color-green:#5fd631;
$color-green-dark:#2a9600;
$color-white: #fff;
$color-black: #000;
$color-red-light:#e08d8d;
$color-red:#d62828;
$color-red-dark:#c60000;
$color-purple-light:#dd5ad0;
$color-purple:#d82fc7;
$color-purple-dark:#c100ae;

$grid-horizontal: 2.5rem;
$grid-vertical : 1rem;
$default-font-size : 1.5rem;