.contact {
    // background: linear-gradient(120deg, #050505 50%, #242424 50%);
    background: #242424;
    background: linear-gradient(90deg, #050505 0%, #050505 30%, #242424 100%);
    &-container {
        display: flex;
        justify-content: center;
        @include mobile {
            display: flex;
            justify-content: center;
            width: 100vw;
            margin: 0;
            flex-direction: column;
            align-items: center;
        }
        &--item {
            color: $color-white;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 50vw;
            @include mobile {
                width: 60vw;
            }
            &_img {
                position: relative;
                width: 25.5vw;
                line-height: 0;
                @include mobile {
                    width: 50vw;
                }
                &__details {
                    width: 100%;
                    height: 100%;
                    // border-bottom: 4px solid white;
                    @include mobile {
                        width: 100%;
                    }
                    @include smtablet {
                        width: 100%;
                    }
                    @include tablet {
                        width: 100%;
                    }
                }
                & article {
                    position: absolute;
                    bottom: 1px;
                    width: 100%;
                    background: black;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 4px;
                    mix-blend-mode: lighten;
                }
                & div {
                    background: black;
                    max-height: 5.5vw;
                    width: 6vw;
                    height: 5.5vw;
                    border: 1px solid white;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform-style: preserve-3d;
                    perspective: 500px;
                    transition: all 0.5s ease-in-out;
                    @include mobile {
                        max-height: 11vw;
                        width: 12vw;
                        height: 11vw;
                    }
                    & img {
                        max-width: 10rem;
                        width: 80%;
                        height: 80%;
                        transform: translateZ(20px);
                    }
                }
                & div:nth-of-type(10) {
                    width: auto;
                    grid-column: 2/4;
                    border-bottom: none;
                }
                & div:nth-of-type(13) {
                    width: auto;
                    grid-column: 2/4;
                    border-top: none;
                }
            }
            &_introduce {
                position: absolute;
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__tittle {
                    font-size: 2vw;
                    font-weight: 600;
                    letter-spacing: 0.1vw;
                    margin: 0;
                    @include mobile {
                        font-size: 4vw;
                    }
                }
                &__sub {
                    width: max-content;
                    font-size: 1vw;
                    text-align: center;
                    @include mobile {
                        font-size: 2vw;
                    }
                }
                &__list {
                    display: flex;
                    flex-direction: column-reverse;
                    list-style-type: none;
                    width: max-content;
                }
                &__link {
                    text-decoration: none;
                    font-size: 2vw;
                    color: $color-white;
                    text-transform: uppercase;
                    color: $color-secondary-light;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    @include mobile {
                        font-size: 4vw;
                    }
                    &:hover,
                    &:active {
                        color: $color-secondary;
                        text-decoration: none;
                    }
                }
            }
        }
        &--right {
            color: white;
            display: flex;
            justify-content: center;
            flex: 1;
            align-items: center;
            &_form {
                position: relative;
                width: 25.5vw;
                @include mobile {
                    width: 70vw;
                }
                &__header {
                    font-size: 3vw;
                    margin-bottom: 5vh;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    letter-spacing: 0.1vw;
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(to right, $color-secondary, $color-secondary, white);
                    @include mobile {
                        font-size: 5vw;
                        margin-bottom: 3vh;
                    }
                }
                &__information {
                    margin-bottom: 1.5rem;
                    width: 100%;
                    height: 6vh;
                    &___input {
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        border: none;
                        border-bottom: 1px solid rgba($color-secondary, 0.5);
                        transition: 0.8s;
                        &::-webkit-scrollbar {
                            width: 10px;
                            background-color: $color-secondary-light;
                        }
                        &::-webkit-scrollbar:hover {
                            cursor: pointer;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                            background-color: $color-secondary;
                        }
                        &:active,
                        &:link,
                        &:visited,
                        &:focus {
                            outline: none;
                            border-bottom: 2px solid $color-secondary;
                        }
                    }
                }
                &__name {
                    &___icon {
                        display: flex;
                        flex-direction: row-reverse;
                        position: absolute;
                        top: 11rem;
                        right: 1rem;
                        color: yellow;
                        // @include mobile {
                        //     top: 8rem;
                        //     right: 0rem;
                        // }
                        // @include smtablet {
                        //     top: 9rem;
                        //     right: 0rem;
                        // }
                        // @include tablet {
                        //     top: 10rem;
                        // }
                    }
                }
                &__email {
                    &___icon {
                        display: flex;
                        flex-direction: row-reverse;
                        position: absolute;
                        top: 15rem;
                        right: 1rem;
                        color: yellow;
                        // @include mobile {
                        //     top: 13rem;
                        //     right: 0rem;
                        // }
                        // @include smtablet {
                        //     top: 14rem;
                        //     right: 0rem;
                        // }
                        // @include tablet {
                        //     top: 16rem;
                        // }
                    }
                }
                &__message {
                    height: 8rem;
                    &___icon {
                        display: flex;
                        flex-direction: row-reverse;
                        position: absolute;
                        top: 21.5rem;
                        right: 1rem;
                        color: yellow;
                        // @include mobile {
                        //     top: 18.5rem;
                        //     right: 0rem;
                        // }
                        // @include smtablet {
                        //     top: 20rem;
                        //     right: 0rem;
                        // }
                        // @include tablet {
                        //     top: 22rem;
                        // }
                    }
                    &___input {
                        padding-bottom: 6rem;
                        position: relative;
                    }
                }
                &__btn {
                    position: relative;
                    left: 34%;
                    width: 30%;
                    @include mobile {
                        left: 0;
                        width: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    @include smtablet {
                        left: 44%;
                        width: 21%;
                    }
                    @include tablet {
                        left: 42%;
                    }
                    &:active,
                    &:link,
                    &:focus,
                    &:visited {
                        animation: zoomOut 1s linear;
                        border: 1px solid $color-secondary;
                    }
                    &___details {
                        font-size: 2rem;
                        letter-spacing: 0.2rem;
                        padding: 1rem;
                        background-color: transparent;
                        color: white;
                        border: 1px solid $color-secondary;
                        transition: 0.8s;
                        // @include mobile {
                        //     font-size: 1rem;
                        // }
                        // @include smtablet {
                        //     font-size: 1.5rem;
                        // }
                        &:focus,
                        &:visited,
                        &:active,
                        &:link,
                        &:hover {
                            border: 1px solid $color-secondary;
                        }
                        &-before {
                            position: absolute;
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                            padding: 1rem;
                            background: transparent;
                            color: transparent;
                            border: 1px solid $color-secondary;
                            transition: 0.8s;
                            left: 0;
                            top: 0;
                            @include mobile {
                                font-size: 2rem;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            @include smtablet {
                                font-size: 1.5rem;
                            }
                            &:focus,
                            &:visited,
                            &:active,
                            &:link,
                            &:hover {
                                border: 1px solid $color-secondary;
                            }
                        }
                    }
                    &:hover &___details-before {
                        background-color: $color-secondary-dark;
                        clip-path: polygon(0% 0%, 0 27%, 48% 62%, 52% 62%, 100% 27%, 100% 0);
                    }

                    &:hover &___details {
                        background-color: $color-secondary;
                        color: transparent;
                    }
                }
            }
        }
        &-notify {
            position: absolute;
            width: fit-content;
            height: 70px;
            right: 0;
            top: 13%;
            background-color: $color-secondary-light;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            transition: all 0.5s ease-in-out;
            visibility: hidden;
            transform: translateX(400px);
            &--success {
                border-left: 10px solid $color-green;
            }
            &--faild {
                border-left: 10px solid $color-red;
            }
            &-text {
                font-size: 1.3rem;
            }
            &--active {
                visibility: visible;
                transform: translateX(0px);
            }
        }
    }
}
