.shadow {
    &-slide {
        position: absolute;
        top: 40%;
        left: 5%;
        transform: translateY(20rem);
        filter: blur(20px);
    }
    &-btn {
        position: absolute;
        width: 20%;
        height: 10%;
        bottom: -75rem;
        left: 25%;
        filter: blur(40px);
        z-index: -1;
    }
}

.divider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-top: 2px solid $color-secondary !important;
    opacity: 0;
    margin: 0 !important;
}
