.slogan {
    top: 90%;
    right:98%;
    transform: rotate(-90deg);
    position: absolute;

    &--shadow {

      width: 40.5vw;
      position: absolute;
      font-size: 10rem;
      font-weight: 800;
      letter-spacing: 1rem;
      opacity: .05;
      &:hover{ 
        opacity: 1;
      }
    }
  }
  .tittle{
    &-box {
        height: 100px;
        width: 200px;
        position: absolute;
        top: 13%; 
        left: 10%;
        z-index: 25;
        perspective: 999rem;
        transform-style: preserve-3d;
        &--layer {
          width: 100%;
          height: 100%;
          position: absolute;
          transform-style: preserve-3d;
          animation: rotate 5s infinite alternate ease-in-out -7.5s;
          animation-fill-mode: forwards;
          transform: rotateY(40deg) rotateX(33deg) translateZ(0);
          &:after {
            font: 8rem/0.13 'Pacifico', 'Kaushan Script', 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
            content: 'My';
            white-space: pre;
            text-align: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 50px; 
            letter-spacing: -1px;
            text-shadow: 4px 0 10px hsla(0, 0%, 0%, .13);
          }
            //TranslateZ for Layers
            $i: 1;
            $SumLayers: 20;
            @for $i from 1 through $SumLayers {
              &:nth-child(#{$i}):after{
                transform: translateZ(($i - 1) * -1.5px);
                }
              }
            &:nth-child(n+#{round($SumLayers/2)}):after {
              -webkit-text-stroke: 3px hsla(0, 0%, 0%, .25);
            }
            &:nth-child(n+#{round($SumLayers/2 + 1)}):after {
              -webkit-text-stroke: 15px $color-secondary;
              text-shadow: 6px 0 6px darken($color-secondary,35%),
                           5px 5px 5px darken($color-secondary,40%),
                           0 6px 6px darken($color-secondary,35%);
            }
            &:nth-child(n+#{round($SumLayers/2 + 2)}):after {
              -webkit-text-stroke: 15px darken($color-secondary, 10%);
            }
            &:last-child:after {
              -webkit-text-stroke: 1.7rem hsla(0, 0%, 0%, .1);
              color: $color-secondary;
            }
            
            &:first-child:after{
              color: $color-white;
              text-shadow: none;
            }
          
        }
      
        &--content{
        top:17%;
        left: 21%;
        position: absolute;
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 600;
        &_after{
          color: $color-white;
          clip-path: polygon(0 19%, 100% 78%, 100% 100%, 0 100%);
        }
        &_before{
          color: transparent; 
          -webkit-text-stroke: 0.1rem $color-white;
        }
        }
      }
}