*{
    margin: 0;
    padding: 0;
        -webkit-box-sizing: border-box;
         -khtml-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
}


