html{
    font-size: 10px;
    font-family: sans-serif;
    overflow: hidden !important; 
    @include mobile{
        overflow-y: scroll;
    } 
}
/* Show red borders when filled, but invalid */
input:not(:placeholder-shown) {
    border-bottom: 2px solid $color-red-dark;
  }
  
  /* Show green borders when valid */
  input:valid {
    border-bottom: 2px solid$color-secondary;
  }
.l-0{
    left: 0rem !important;
    @include mobile{
        left: -3rem !important;
    }
    @include smtablet{
        left: -6rem !important;
    }
    @include tablet{
        left: 2rem !important;
    }
}
.mr-05{
    margin-right: 0.5rem;
}

.l--3{
    left: -3rem !important;
}
.is-active{
    opacity: 1 !important;
}