.about {
    background-color: $color-black;
    &-container {
        &--left{
            width: 30vw;
            height: 100vh;
            position: relative;
            padding: 5rem !important;
            &_box{
                position: relative;
                border: 1px solid $color-white ;
                display: flex;
                justify-content: center;
                justify-items: center;
                top:15%;
                padding: 3rem;
                &__year{
                    position: relative;
                    width: 23rem;
                    height: 30rem;
                    margin: 5rem;
                    font-size: 23rem;
                    left: 27%;
                    top: -6rem;
                    color: transparent;
                    font-weight: 800;
                    -webkit-text-stroke: 0.2rem $color-white;
                    text-align: center;
                    
                }
                &__content{
                    position: relative;
                    font-size: 3rem;
                    color: $color-white;
                    font-weight: 300;
                    right: 3rem;
                    top: 25rem;

                }

            }
        }
        &--right{
                &_tittle{
                    &__skill{
                        position: absolute;
                        left: 27rem;
                        top: 1rem;
                        &___layer{
                            &:after {
                                font: 8rem/0.13 'Pacifico', 'Kaushan Script', 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
                                content: 'Skill';
                            }
                        }
                }
            }
                &_content{
                    color: white;
                    &__rowfirst{
                        position: relative;
                        top: 15rem;
                        height: 20vh;
                        &___propressbar{
                            position: absolute;
                            top: 2rem;
                            right: 9rem;
                            width: 17rem;
                            height: 13rem;
                            transform-style: preserve-3d;
                            transform: perspective(55rem) rotateX(-102deg) rotateY(93deg) rotateZ(-6deg); 
                        }
                        &___propressbarname{
                            width: 15%;
                            height: 15%;
                            top: 19rem;
                            left: -1.5rem;
                            font-size: 2.5rem;
                        }
                    }
                    &__dev {
                        left: 10rem;
                        width: 15%;
                        height: 115%;
                        top: -5rem;
                        margin: 5rem;
                        &___namepropressbar{
                            width: 1%;
                        }
                        &___propressbar{
                            animation: none;
                            top: -15rem;
                            left: 10.5rem;
                            transform: rotateY(-5deg) rotateX(2deg) translateZ(-16px);
                            // animation: bounce 5s infinite alternate ease-in-out -7.5s;
                            // animation-fill-mode: forwards;
                            //zoomInDown Loading Page
                            &____html{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'HTML' ;
                                    letter-spacing: 10px;
                                }
                            }
                            &____css{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'CSS' ;
                                }
                            }
                            &____jquery{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'JQuery' ;
                                }
                            }
                            &____sass{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'SASS' ;
                                }
                            }
                            &____react{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'REACT' ;
                                }
                            }
                            &____C{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'C++' ;
                                }
                            }
                            &:first-child:after{
                                color: $color-white;
                                text-shadow: none;
                              }
                              &:last-child:after {
                                -webkit-text-stroke: 1.7rem rgba($color-white, .1);
                                color: $color-white;
                              }
                        }
                    } 
                   
                   
                }
        
            }
        

    }
}