.about {
    background-color: $color-black;
    color: $color-white;
    &-container {
        background-image: url(../img/codebag.png);
        background-size: inherit;
        background-repeat: no-repeat;
        background-position-x: 9rem;
        background-position-y: 14rem;
        &--left{
            width: 30vw;
            height: 100vh;
            position: relative;
            padding: 5rem !important;
            
            &_box{
                    position: relative;
                    border: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    top: 30%;
                    padding: 0rem;
                    width: 16vw;
                    left: 12rem;
                    transition:all 1s;
                &:hover {
                    position: relative;
                    border: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    top: 13%;
                    padding: 4rem;
                    width: 23vw;
                    left: 6rem;
                    .about-container--left_box__content{
                        position: relative;
                        font-size: 3rem;
                        color: #fff;
                        font-weight: 500;
                        right: 5rem;
                        top: 26rem;
                        opacity: 1;
                        animation: zoomIn 1s;
                        }
                    .about-container--left_box__year{
                        position: relative;
                            width: 23rem;
                            height: 30rem;
                            margin: 5rem;
                            font-size: 23rem;
                            left: 27%;
                            top: -6rem;
                            color: transparent;
                            font-weight: 800;
                            -webkit-text-stroke: 0.2rem #fff;
                            text-align: center;
                            animation: heartBeat 3s infinite ease-in-out;
                        }
                        .about-container--left_box__content___experience::before{
                            animation: fadeInLeftBig 1s;
                        }
                }
                &__year{
                    position: relative;
                    width: 23rem;
                    height: 25rem;
                    margin: 0rem;
                    font-size: 23rem;
                    left: 1%;
                    top: -1rem;
                    color: transparent;
                    font-weight: 800;
                    -webkit-text-stroke: 0.2rem #fff;
                    text-align: center;
                    animation:rubberBand 3s infinite ease-in-out;

                }
                &__content{
                    position: relative;
                    color: $color-white;
                    font-weight: 300;
                    right: 3rem;
                    top: 25rem;
                    opacity: 0;
                    font-size: 0rem;
                        &___experience::before{
                            content: '';
                            border-bottom: 3px solid #fff;
                            width: 8vw;
                            color: white;
                            height: 1.5rem;
                            position: absolute;
                            top: 5rem;
                            right: 19rem;
                            opacity: 1;

                        }
                }

            }
        }
        &--right{
                &_tittle{
                    &__skill{
                        position: absolute;
                        left: 27rem;
                        top: 1rem;
                        &___layer{
                            &:after {
                                font: 8rem/0.13 'Pacifico', 'Kaushan Script', 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
                                content: 'Skill';
                            }
                        }
                }
            }
                &_content{
                    color: white;
                    &__rowfirst{
                        position: relative;
                        top: 15rem;
                        height: 20vh;
                        &___propressbar{
                            position: absolute;
                            top: 2rem;
                            right: 9rem;
                            width: 17rem;
                            height: 13rem;
                            transform-style: preserve-3d;
                            transform: perspective(55rem) rotateX(-102deg) rotateY(93deg) rotateZ(-6deg); 
                        }
                        &___propressbarname{
                            width: 15%;
                            height: 15%;
                            top: 19rem;
                            left: -1.5rem;
                            font-size: 2.5rem;
                        }
                    }
                    &__dev {
                        left: 10rem;
                        width: 15%;
                        height: 115%;
                        top: -5rem;
                        margin: 5rem;
                        &___namepropressbar{
                            width: 1%;
                        }
                        &___propressbar{
                            animation: none;
                            top: -15rem;
                            left: 10.5rem;
                            transform: rotateY(-5deg) rotateX(2deg) translateZ(-16px);
                            // animation: bounce 5s infinite alternate ease-in-out -7.5s;
                            // animation-fill-mode: forwards;
                            //zoomInDown Loading Page
                            &____html{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'HTML' ;
                                    letter-spacing: 10px;
                                }
                            }
                            &____css{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'CSS' ;
                                }
                            }
                            &____jquery{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'JQuery' ;
                                }
                            }
                            &____sass{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'SASS' ;
                                }
                            }
                            &____react{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'REACT' ;
                                }
                            }
                            &____C{
                                &::after{
                                    font: 3rem/0.13  Helvetica,'Kaushan Script', 'Roboto','Pacifico', 'Trebuchet MS', sans-serif;
                                    content: 'C++' ;
                                }
                            }
                            &:first-child:after{
                                color: $color-white;
                                text-shadow: none;
                              }
                              &:last-child:after {
                                -webkit-text-stroke: 1.7rem rgba($color-white, .1);
                                color: $color-white;
                              }
                        }
                    } 
                   
                   
                }
        
            }
        

    }
}
:root{
    //-------------------Mid
    --mid-percent-html : 90rem !important; // => rem = %

    --mid-percent-css  : 80rem ;// ==> rem = %

    --mid-percent-sass  : 90rem ;// => rem = %

    --mid-percent-js  : 20rem ;// ==> rem = %

    --mid-percent-react  : 30rem ;// => rem = %

    --mid-percent-jquery  : 50rem ;// ==> rem = %
    //-------------------Right
    --percent-right-html  : 90rem ;// => rem = %
  
    --percent-right-css  : 80rem ;// ==> rem = %
     
    --percent-right-sass  : 90rem ;// => rem = %
     
    --percent-right-js  : 20rem ;// ==> rem = %
      
    --percent-right-react  : 30rem ;// => rem = %
    
    --percent-right-jquery  : 50rem ;// ==> rem = %
    //-------------------After
    --percent-after-html  : 90rem ;// => rem = %
  
    --percent-after-css  : 80rem ;// ==> rem = %
     
    --percent-after-sass  : 90rem ;// => rem = %
     
    --percent-after-js  : 20rem ;// ==> rem = %
      
    --percent-after-react  : 30rem ;// => rem = %
    
    --percent-after-jquery  : 50rem ;// ==> rem = %
}
.percent {
    &-mid{//---default=18.18%(3rank) max=16.5rank  ====> Return max-default = 13.5rank => 1rank : 7.4
        &-html {
            transform: translate3D(calc(var(--mid-percent-html)/7.4), 0rem, 10.5rem) rotateY(90deg) ; 
        }
        &-css {
           
            transform: translate3D(calc(var(--mid-percent-css)/7.4), 0rem, 10.5rem) rotateY(90deg); 
        }
        &-sass {
           
            transform: translate3D(calc(var(--mid-percent-sass)/7.4), 0rem, 10.5rem) rotateY(90deg); 
        }
        &-js {
          
            transform: translate3D(calc(var(--mid-percent-js)/7.4), 0rem, 10.5rem) rotateY(90deg); 
        }
        &-react {
           
            transform: translate3D(calc(var(--mid-percent-react)/7.4), 0rem, 10.5rem) rotateY(90deg); 
        }
        &-jquery {
           
            transform: translate3D(calc(var(--mid-percent-jquery)/7.4), 0rem, 10.5rem) rotateY(90deg); 
        }
    }
    &-right{//---default=0(0rank) max=17rank  ====> Return max-default = 17rank => 1rank : 5.75
        &-html {
                     width: calc(var(--percent-right-html)/5.75)  ;
            
        }
        &-css {
                     width: calc(var(--percent-right-css)/5.75)  ;

        }
        &-sass {
                     width: calc(var(--percent-right-sass)/5.75)  ;
            
        }
        &-js {
                    width: calc(var(--percent-right-js)/3.79)  ;
        }
        &-react {
                      width: calc(var(--percent-right-react)/4.3)  ;
            
        }
        &-jquery {
           
            width: calc(var(--percent-right-jquery)/5.1)  ;
        }
    }
    &-after{//---default=0(0rank) max=17rank  ====> Return max-default = 17rank => 1rank : 5.75
        &-html {
                     width: calc(var(--percent-after-html)/5.75)  ;
            
        }
        &-css {
                     width: calc(var(--percent-after-css)/5.5)  ;

        }
        &-sass {
                     width: calc(var(--percent-after-sass)/5.75)  ;
            
        }
        &-js {
                    width: calc(var(--percent-after-js)/3.26)  ;
        }
        &-react {
                      width: calc(var(--percent-after-react)/4)  ;
            
        }
        &-jquery {
           
            width: calc(var(--percent-after-jquery)/4.9)  ;
        }
    }
    &-number{
        &-html{
            left: 9rem ;
        }
        &-css{
            left: 8rem ;
        }
        &-sass{
            left: 9rem ;
        }

        &-js{
            left: 0rem ;
        }
        &-react{
            left: 1rem ;
        }

        &-jquery{
            left: 4rem ;
        }
    }
}