.contact {
    background: linear-gradient(120deg, #383745 50%, #22202B 50%);
    &-container{
        &--left{
            color: $color-white;
            display: inline-flex;
            flex-direction: row-reverse;
            justify-items: center;
            justify-content: center; 
            position: relative;
            top: 25rem;  
            &_img{
                position: relative;
                bottom: 30rem;
                right: 22rem;
                &__details{
                    border-bottom: 5px solid white;
                    border-radius: 50%;
                }
            }
            &_introduce{
                position: relative;
                width: 50%;
                left: 19rem;
                top: -7rem;
                &__tittle{
                    font-size: 2.5rem;
                    font-weight: 600;
                    letter-spacing: 0.5rem;   
                }
                &__sub{
                    width: 70%;
                    font-size: 1.5rem;
                    margin-bottom: 3rem; 
                }
                &__list{
                    display: flex;
                    flex-direction: column-reverse;
                    list-style-type: none;
                    

                }
                &__link{
                    text-decoration: none;
                    font-size: 1.35rem;
                    color: $color-white;
                    width: 24%;
                    &:active,
                    &:link{
                        color: $color-secondary;
                        text-decoration: none;
                    }
                    &:hover{
                        color: $color-secondary;
                        text-decoration: none;
                    }
                }
            }
        }
        &--right{
            color: white;
            display: inline-flex;
            flex-direction: column-reverse;
            position: relative;
            top: 20rem; 
            margin-bottom: 5rem;
            &_form{
                position: relative;
                left: 18rem;
                width: 33%;
                bottom: 16rem;
                &__header{
                    font-size: 3rem;
                    margin-bottom: 5rem;
                    text-transform: uppercase;
                    text-align: center;
                }
                &__information{
                    margin-bottom: 1.5rem;
                    width: 100%;
                    height: 4vh;
                    
                    &___input{
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        border: none;
                        border-bottom: 1px solid rgba($color-secondary, 0.5);
                        transition: 0.8s;
                        &:active,
                        &:link,
                        &:visited,
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid $color-secondary;
                        }
                    }
                }

                &__name{
                    &___icon{
                        display: flex;
                        flex-direction: row-reverse;
                        position: absolute;
                        top: 11rem;
                        right: 1rem;
                        color: yellow;
                    }
                }
                &__email{
                    &___icon{
                        display: flex;
                        flex-direction: row-reverse;
                        position: absolute;
                        top: 15rem;
                        right: 1rem;
                        color: yellow;
                    }
                }
                &__message{
                    height: 8rem;
                    &___icon{
                        display: flex;
                        flex-direction: row-reverse;
                        position: absolute;
                        top: 21.5rem;
                        right: 1rem;
                        color: yellow;
                    }
                    &___input{
                        padding-bottom: 6rem;
                        position: relative;
                    }
                }
                &__btn{
                    position: relative;
                    left: 34%;
                    width: 30%;
                    &:active,
                    &:link,
                    &:focus,
                    &:visited{
                        animation: zoomOut 1s linear;
                        border:1px solid $color-secondary;
                    }
                    &___details{
                        font-size: 2rem;
                        letter-spacing: 0.2rem;
                        padding: 1rem;
                        background-color: transparent;
                        color: white;
                        border:1px solid $color-secondary;
                        transition: 0.8s;
                            &:focus,
                            &:visited,
                            &:active,
                            &:link,
                            &:hover{
                            border:1px solid $color-secondary;
                            }
                        &-before{
                            position: absolute;
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                            padding: 1rem;
                            background: transparent;
                            color: transparent;
                            border:1px solid $color-secondary;
                            transition: 0.8s;
                            left: 0;
                            top: 0;
                            &:focus,
                            &:visited,
                            &:active,
                            &:link,
                            &:hover{
                            border:1px solid $color-secondary;
                            }
                        }
                    }
                    &:hover &___details-before{
                                background-color: $color-secondary-dark;
                                clip-path: polygon(0% 0%, 0 27%, 48% 62%, 52% 62%, 100% 27%, 100% 0);
                    }

                    &:hover &___details{
                                background-color: $color-secondary;
                                color: transparent;
                    }
                }
            }
        }
    }
}