@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');

.features {
    width: 100%;
    height: 100vh;
    background: $color-black;
    color: $color-white;
    position: relative;
    &-tittle{
      &--icon{
        @include mobile{
          top: 4% !important;
          left: -16% !important;
        }
      }
      &--content{
            @include mobile{
            position: absolute;
            top: 10rem;
            left: 8rem;
            &_before{
              font-size: 3rem;
            }
            &_after{
              font-size: 3rem;
            }}
      }
    }
    @include mobile{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
    }
  
    &-content{
      &--box{
          margin-top: 15rem;
          transition: 2s;
          @include mobile {
            margin-top: 5rem;
            top: 12rem;
          }
          &:hover{
            .web-divider {
              opacity: 1;
              animation: bounceInLeft 1s ease-in-out;
            }
            .photoshop-divider {
              opacity: 1;
              animation: bounceInUp 1s ease-in-out;
            }
            .creative-divider {
              opacity: 1;
              animation: bounceInRight 1s ease-in-out;
            }
            .features-content--box_tittle{
              color: $color-secondary;
            }
          }
        &_logo{
          display: flex;
          justify-content: flex-start;
          &__icon{
            color: $color-secondary;  
            font-size: 5rem;
            
          }
        }
        &_tittle{
          margin: 3rem 0;
          text-transform: uppercase;
          letter-spacing: .5rem;
        }
        &_content{
          font-size: 1.7rem;
          opacity: 0.5;
          padding-bottom: 5rem;
        }
      }
    }
}
  