.footer {
  position: fixed;
  width: 100%;
  padding: 5vh 0;
  bottom: 0%;
  background: transparent;
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 200;
  color: $color-white;
  z-index: 1000;
  @include tablet {
    font-size: 2rem;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
  }
  &-box {
    & p {
      margin: 0 !important;
    }
    width: 100%;
    &--list {
      display: flex;
      justify-content: flex-end;
      justify-items: flex-end;
      list-style-type: none;
      margin: 0;
    }
    &--item {
      margin-left: 5rem;
      @include smtablet {
        margin-left: 2rem;
      }
    }
    &--link {
      text-decoration: none;
      font-size: 3rem;
      color: $color-white;
      transition: 0.5s;
      @include smtablet {
        font-size: 2rem;
      }
      &:hover {
        color: $color-secondary;
        transform: translateY(-2px) scale(1.5);
      }
    }
  }
}
