
.footer {
    position: fixed;
    width: 100%;
    padding: 5vh 0;
    bottom: 5%;
    left: 5%;
    background: transparent;
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: 200;
    color: $color-white;
    z-index: 1000;
    @include tablet{
      bottom: 13%;
      left: 2%;
      font-size: 1.5rem;
    }
    &-copyright{
      position: absolute;
      width: 100%;
      @include mobile {
        width: 100%;
        top: 4.7rem;
        margin-right: 1rem;
      }
      @include tablet{
        width: 38%;
        top: 4.7rem;
        left: 2rem;
      }
    }
    &-address{
      right: 10%;
      width: 100%;
      position: absolute;
      &--list{
        display: flex;
        justify-content: flex-end;
        justify-items: flex-end;
        list-style-type: none;
      }
      &--item{
        margin-left: 5rem;
        @include mobile {
          margin-left: 2rem;
        }
        @include tablet{
          margin-left: 6rem;
        }
      }
      &--link{
        text-decoration: none;
        font-size: 2rem;
        color: $color-white;
        transition: .5s;
        @include tablet{
          font-size: 3rem;
        }
        &:hover {
          color: $color-secondary;
          font-size: 4rem;
          transform: translate(2px);
        }
      }
    }
  }