.hero {
  position: absolute;
  width: 100%;
  height: 100vh;
  color: $color-white;
  display: flex;
  justify-items: center;
  justify-content: center;
  background: rgb(36, 36, 36);
  background: linear-gradient(90deg, rgba(36, 36, 36, 1) 0%, rgba(5, 5, 5, 1) 50%, rgba(5, 5, 5, 1) 100%);
  overflow: hidden;
  &-bg {
    display: flex;
    justify-items: center;
    justify-content: center;
    &--img {
      right: 0;
      bottom: 0;
      height: 100%;
      width: auto;
      z-index: 1;
      position: absolute;
      background-repeat: no-repeat;
      @include mobile {
        right: auto;
      }
    }
  }
  &-container {
    height: 100vh;
    width: 100%;
    padding: 0;

    &--row {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;

      @include tablet {
        justify-content: space-evenly;
      }

      &_box {
        top: 0%;
        width: 100%;
        @include mobile {
          top: 25%;
        }
        @include smtablet {
          top: 25%;
        }
        @include tablet {
          top: 30%;
        }
        @include FHD {
          top: 30%;
        }
        @include desktop {
          top: 0%;
        }
        &__slogan {
          left: 10%;
          font-size: 6.5vw;
          font-weight: 800;
          position: absolute;
          color: $color-white;
          z-index: 1;
          @include mobile {
            font-size: 5rem;
          }
          @include smtablet {
            font-size: 8rem;
          }
          @include tablet {
            font-size: 7.5vw;
          }
          @include FHD {
            left: 10%;
            font-size: 6.5vw;
          }
          @include Pc {
            left: 10%;
            font-size: 7.5vw;
          }
          &___howdy {
            opacity: 0;
          }
          &___after {
            color: transparent;
            -webkit-text-stroke: 0.1rem $color-secondary;
          }
          &___before {
            color: $color-secondary;
            animation: wave 10s ease-in-out infinite;
          }
          &___color {
            color: $color-secondary;
            -webkit-text-stroke: 0.5rem $color-secondary;
          }
        }
        &__bg {
          background-image: url(../img/bglogan.jpg);
          z-index: 999999;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
        }
      }
      &_download {
        display: flex;
        top: 0;
        width: 30%;
        height: auto;
        z-index: 1001;
        @include mobile {
          width: 70%;
          z-index: 1;
        }
        @include smtablet {
          width: 60%;
          top: 10%;
          z-index: 1;
        }
        @include tablet {
          width: 50%;
          top: 20%;
        }
        @include FHD {
        }
        &:hover {
          &::after {
            left: 0;
            transition: 0.4s;
          }
          .circle {
            color: $color-secondary;
            box-shadow: inset 0 0 0 2px transparent;

            &::before {
              border-top-color: $color-secondary;
              border-left-color: $color-secondary;
              border-right-color: $color-secondary;
              border-bottom-color: $color-secondary;
              -webkit-transition: border-left-color 0.15s linear 0.4s, border-top-color 0.15s linear 0.5s,
                border-right-color 0.15s linear 0.6s, border-bottom-color 0.15s linear 0.7s;
              transition: border-left-color 0.15s linear 0.3s, border-top-color 0.15s linear 0.4s,
                border-right-color 0.15s linear 0.5s, border-bottom-color 0.15s linear 0.6s;
            }
            &::after {
              border-top: 2px solid $color-secondary;
              border-left-width: 2px;
              border-right-width: 2px;
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              -webkit-transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
              transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
              transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
              transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
            }
          }
          .hero-container--row_download__box___content____font {
            color: $color-secondary;
            transition-delay: 0.8s;
          }
        }
        &__box {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
          font-size: 3rem;
          position: relative;
          text-align: center;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          top: 0;
          left: 27%;
          @include mobile {
          }
          @include tablet {
            left: 18%;
          }
          @include FHD {
          }
          &:active,
          &:link {
            color: $color-white;
          }
          &___content {
            &____font {
              position: absolute;
              padding-left: 2rem;
              vertical-align: inherit;
              width: max-content;
              top: 0.5rem;
              @include mobile {
                font-size: 2rem;
                padding: 0;
                width: max-content;
                margin-top: 25px;
                padding-left: 10px;
              }
            }
          }
          &___icon {
            inset: 0;
            position: relative;
            @include mobile {
              width: 5rem;
              height: 5rem;
              font-size: 2rem;
              position: absolute;
            }
            @include FHD {
            }
            color: $color-secondary;
            &:active,
            &:link,
            &:visited {
              color: white !important;
            }
          }
        }
      }

      &_download::before {
        position: absolute;
        display: block;
        inset: 0;
        margin: 0;
        width: 30%;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        content: "";
        -webkit-transition: -webkit-transform 1s ease-out;
        transition: -webkit-transform 1s ease-out;
        transition: transform 1s ease-out;
        transition: transform 1s ease-out, -webkit-transform 1s ease-out;
        border-top: 1px solid #fff;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        @include mobile {
          width: 32%;
        }
        @include smtablet {
        }
        @include tablet {
          width: 20%;
        }
        @include IpadPro {
          width: 20%;
        }
        @include FHD {
        }
      }
      &_download::after {
        position: absolute;
        display: block;
        margin: 0;
        inset: 0;
        width: 30%;
        top: 50%;
        left: -30%;
        transform: translateY(-50%);
        height: 2px;
        content: "";
        -webkit-transition: -webkit-transform 1s ease-out;
        transition: -webkit-transform 1s ease-out;
        transition: transform 1s ease-out;
        transition: transform 1s ease-out, -webkit-transform 1s ease-out;
        border-top: 4px solid $color-secondary;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        @include mobile {
          left: -32%;
          width: 32%;
        }
        @include smtablet {
        }
        @include tablet {
          width: 20%;
        }
        @include tablet {
          width: 20%;
        }
        @include FHD {
        }
      }
    }
  }
}
.temp {
  top: 20%;
  z-index: 2;
}
