.hero {
    position: absolute;
    width:100%;
    height: 100vh;
    color: $color-white;
    display: flex;
    justify-items: center;
    justify-content: center;
    background: $color-gray;
    
    &-bg{
      display: flex;
      justify-items: center;
      justify-content: center;  
      &--img{
          @include mobile {
            top: 20rem;
            right: 2rem;
            width: 130vw;
            height: 75vh;
          }
          top: -17rem;
          right: 17rem;
          z-index: 1;
          box-sizing: border-box;
          position: absolute;
          width: 55vw;
          height: 123vh;
          background-repeat: no-repeat;
      }
    }
    &-container {
      @include mobile {
        height: 100vh;
        width: 100%;
        position: relative;
        top: 0;
      }
      height: 100vh;
      &--row{
        height: 100vh;
        &_box{
          top: 25%;
          height: 50%;
          @include mobile
          {
            top: 0%;
          }
          &__slogan{
            font-size: 9rem;
            font-weight:800;
            position: absolute;
            color:$color-white;
            z-index: 1;
            @include  mobile {
              font-size: 5rem;
              top: 28%;
            }
            &___howdy{
              opacity: 0;
              
            }
            &___after{
              color:transparent;
              -webkit-text-stroke:0.1rem $color-secondary;
            }
            &___before{
              color: $color-secondary;
              animation : wave 10s ease-in-out infinite;
            }
            &___color{
              color: $color-secondary;
              -webkit-text-stroke:0.5rem $color-secondary;
            }
          }
          &__bg {
            background-image: url(../img/bglogan.jpg);
            z-index: 999999;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
          }
        }
        &_download{
          top:25%;
          width: 30%;
          height: 10%; 
          @include mobile{
            top: 25% !important;
            z-index: 55;
          }
          &:hover{
            &::after{
              right: 90%;
              transition: 0.4s;
              }
              .circle{ 
                color: $color-secondary;
                box-shadow: inset 0 0 0 2px transparent; 
                
                &::before {
                  border-top-color: $color-secondary;
                  border-left-color: $color-secondary;
                  border-right-color: $color-secondary;
                  border-bottom-color: $color-secondary;
                  -webkit-transition:border-left-color 0.15s linear 0.4s ,border-top-color 0.15s linear .5s,border-right-color 0.15s linear .6s, border-bottom-color 0.15s linear .7s;
                  transition:border-left-color 0.15s linear 0.3s ,border-top-color 0.15s linear .4s,border-right-color 0.15s linear .5s, border-bottom-color 0.15s linear .6s;
                  }
                  &::after {
                    border-top: 2px solid $color-secondary;
                    border-left-width: 2px;
                    border-right-width: 2px;
                    -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                    -webkit-transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
                    transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
                    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
                    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
                  }
                }
                .hero-container--row_download__box___content____font{
                  color: $color-secondary;
                  transition-delay: 0.8s;
                }
          }
          &__box{
            color: $color-white;
            font-size: 3rem;
            top: -13%;
            position: relative;
            text-align: center;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            @include mobile {
              font-size: 2rem;
              z-index: 55;
            }
            &:active,
            &:link{
                  color:$color-white;
            }
              &___content{
                &____font{
                  position: absolute;
                  padding-left: 5rem;
                  vertical-align: inherit;
                  width: 37rem;
                  top:0.5rem;
                  @include mobile {
                    font-size: 2rem;
                    width: 32rem;
                  }

                }
                
              }
              &___icon {
                @include mobile {
                  width: 5rem !important;
                  height: 5rem !important;
                  bottom: -6rem !important;
                  left: 5rem !important;
                }
                color: $color-secondary;
                &:active,
                &:link,
                &:visited  
                 {
                  color: white !important;
                }
              }
          }
        }
        
        &_download::before{
          //animation: bounceInLeft 1s infinite;
          position: absolute;
          display: block;
          top: 40%;
          right: 90%;
          width: 15vw;
          height: 1px;
          margin-right: 2rem;
          background: white;
          content: '';
          -webkit-transition: -webkit-transform 1s ease-out;
          transition: -webkit-transform 1s ease-out;
          transition: transform 1s ease-out;
          transition: transform 1s ease-out,-webkit-transform 1s ease-out;
          border-top: 1px solid #fff;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          @include mobile {
            top: 30%;
            right: 21%;
            width: 23vw;
          }
        }
        &_download::after{
          position: absolute;
          display: block;
          top: 40%;
          right: 150%;
          width: 15vw;
          height: 1px;
          margin-right: 2rem;
          background: linear-gradient(90deg,transparent,$color-secondary);
          content: '';
          -webkit-transition: -webkit-transform 1s ease-out;
          transition: -webkit-transform 1s ease-out;
          transition: transform 1s ease-out;
          transition: transform 1s ease-out,-webkit-transform 1s ease-out;
          border-top: 1px solid rgba($color-secondary, 0.5);
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          @include mobile
          {
            right: 21% !important;
            width: 8rem;
            top: 30%;
          }
        }
      }
    }
}